﻿<script type="text/javascript" src="template.js"></script>
<template class="SSN-Plugins-ShowStatusHistory-Icon-Template">
    <style>
        #SSN-Plugins-ShowStatusHistory-Icon {
            width: 18px;
        }
    </style>
    <img id="SSN-Plugins-ShowStatusHistory-Icon" title="Status History" src="/MSM/assets/skins/Marval Gold/icons/more_16.png">
</template>
<template class="SSN-Plugins-ShowStatusHistory-Main-Template">
    <style>

        .SSN-Plugins-ShowStatusHistory-overlay {
            border-radius: 5px;
        }

            .SSN-Plugins-ShowStatusHistory-overlay > .content {
                border-radius: 5px;
            }

                .SSN-Plugins-ShowStatusHistory-overlay > .content > .maximizeButton {
                    right: 30px;
                }

                .SSN-Plugins-ShowStatusHistory-overlay > .content > .maximizeButton,
                .SSN-Plugins-ShowStatusHistory-overlay > .content > .closeButton {
                    background-size: 22px;
                    width: 22px;
                    height: 22px;
                }

                .SSN-Plugins-ShowStatusHistory-overlay > .content > .header {
                    height: 30px;
                    line-height: 33px;
                    background: #6a6f7a;
                }

        .SSN-Plugins-ShowStatusHistory-Main {
            display: none;
        }

        .window .SSN-Plugins-ShowStatusHistory-Main {
            display: block;
        }

        .SSN-Plugins-ShowStatusHistory-Main > .StatusHistory {
            position: absolute;
            top: 50px;
            bottom: 50px;
            left: 10px;
            right: 10px;
            overflow: auto;
            background: no-repeat center center;
        }

            .SSN-Plugins-ShowStatusHistory-Main > .StatusHistory > .Header {
                position: relative;
                padding: 10px;
                height: 30px;
                line-height: 30px;
                background: lightgray;
            }

                .SSN-Plugins-ShowStatusHistory-Main > .StatusHistory > .Header > .left {
                    position: absolute;
                    left: 0;
                    right: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                    .SSN-Plugins-ShowStatusHistory-Main > .StatusHistory > .Header > .left > * {
                        margin-left: 25px;
                        display: inline-block;
                        min-width: 130px;
                    }

            .SSN-Plugins-ShowStatusHistory-Main > .StatusHistory > .Status {
                position: relative;
                padding: 10px;
                height: 30px;
                line-height: 30px;
            }

                .SSN-Plugins-ShowStatusHistory-Main > .StatusHistory > .Status:nth-child(even) {
                    background: #EBF2F9;
                }

                .SSN-Plugins-ShowStatusHistory-Main > .StatusHistory > .Status > .left {
                    position: absolute;
                    left: 0;
                    right: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                    .SSN-Plugins-ShowStatusHistory-Main > .StatusHistory > .Status > .left > * {
                        margin-left: 10px;
                        display: inline-block;
                        min-width: 100px;
                    }

                    .SSN-Plugins-ShowStatusHistory-Main > .StatusHistory > .Status > .left > a {
                        text-decoration: none;
                    }

                    .SSN-Plugins-ShowStatusHistory-Main > .StatusHistory > .Status > .left > .StatusName,
                    .SSN-Plugins-ShowStatusHistory-Main > .StatusHistory > .Status > .left > .UpdatedBy {
                        display: inline-block;
                        padding: 0 10px;
                        border: 1px solid #DDD;
                        border-radius: 5px;
                        background: #FFF;
                        min-width: 150px;
                    }

                    .SSN-Plugins-ShowStatusHistory-Main > .StatusHistory > .Status > .left > .StatusHistorytatus.Updating {
                        background: orange;
                    }


                .SSN-Plugins-ShowStatusHistory-Main > .StatusHistory > .Status > .right {
                    position: absolute;
                    right: 15px;
                    width: auto;
                }
    </style>
    <div class="SSN-Plugins-ShowStatusHistory-Main">
        <div class="StatusHistory">
            <div class="Header">
                <div class="left">
                    <span class="">UPDATED ON</span>
                    <span class="">STATUS</span>
                    <span class="">UPDATED BY</span>
                    <span class="">WORKFLOW</span>
                </div>
            </div>
        </div>
    </div>
</template>
<template class="SSN-Plugins-ShowStatusHistory-Status-Template">
    <div class="Status">
        <div class="left">
            <span class="StartDate"></span>
            <span class="StatusName"></span>
            <span class="UpdatedBy"></span>
            <span class="Workflow"></span>
        </div>
    </div>
</template>
<template class="SSN-Plugins-ShowStatusHistory-Info-Template">
    <div>
        <div class="title">
            <span></span>
        </div>
    </div>
</template>
<script>
    (function () {

        var MarvalSoftware = window.top.MarvalSoftware;
        var $ = window.top.$;

        MarvalSoftware.Plugins.define("SSN-Plugins-ShowStatusHistory",
            {
                _pluginPath: null,
                _eventManager: null,
                _page: null,
                _globalSettings: null,
                _pluginWindow: null,
                _statusHistory: null,

                init: function () {
                    document.addEventListener('DOMContentLoaded', function () {

                        /* Get global settings */
                        this._getGlobalSettings();

                        /* Get page */
                        this._page = MarvalSoftware.UI.Controls.ScriptManager.getInstance().getPage();
                        this._pluginPath = this._getPluginPath();
                        this._eventManager = MarvalSoftware.UI.Dom.EventManager.getInstance();

                        /* Append icon */
                        this._setUpQuickMenu();


                    }.bind(this));
                },

                _setUpQuickMenu: function () {
                    var template = document.querySelector('.SSN-Plugins-ShowStatusHistory-Icon-Template').content;
                    var element = window.top.document.importNode(template, true);
                    var icon = element.querySelector("#SSN-Plugins-ShowStatusHistory-Icon");
                    window.top.document.querySelectorAll('.workflowStatusPicker')[0].appendChild(element);

                    this._eventManager.addHandler(icon, "click", this._popup, this);
                },

                _popup: function (sender, e) {
                    if (!this._pluginWindow) {
                        this._pluginWindow = new MarvalSoftware.UI.Window({
                            appendToElement: window.top.document.getElementById("aspnetForm"),
                            title: "Request Status History",
                            height: 600,
                            width: 700,
                            minHeight: 262,
                            minWidth: 432,
                            isResizable: true,
                            isMaximizable: true,
                            isModal: true,
                            bodyElement: this
                        });
                        this._getRequestStatusHistory();
                    }
                    if (!this._pluginWindow.isVisible()) {
                        this._pluginWindow.centerToViewport();
                    }
                    this._pluginWindow.show();
                    // Add class to popup window
                    MarvalSoftware.UI.Dom.addClassName(this._pluginWindow._overlayElement, "SSN-Plugins-ShowStatusHistory-overlay");
                },

                _popupInfo: function (info) {
                    var template = document.querySelector('.SSN-Plugins-ShowStatusHistory-Info-Template').content;
                    var element = window.top.document.importNode(template, true);

                    element.querySelector('div > span').innerHTML = info;
                    MarvalSoftware.UI.MessageBox.show(
                        "Infomation",
                        element,
                        MarvalSoftware.UI.MessageBox.Types.INFORMATION,
                        [MarvalSoftware.UI.MessageBox.Buttons.OK],
                        MarvalSoftware.UI.MessageBox.Buttons.OK,
                        450
                    );
                },

                _getRequestStatusHistory: function () {
                    var template = document.querySelector('.SSN-Plugins-ShowStatusHistory-Main-Template').content;
                    var element = window.top.document.importNode(template, true);
                    this._statusHistory = element.querySelector(".StatusHistory");
                    this.appendChild(element);

                    $.ajax({
                        type: "GET",
                        url: this._getPluginPath() + "handler/GetRequestStatusHistory.ashx?requestId=" + this._page._requestId,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: true,
                        success: function (result) {
                            if (result) {
                                for (var i = 0; i < result.length; i++) {
                                    this._renderStatus(result[i]);
                                }
                            }
                        }.bind(this),
                        error: function (textStatus, errorThrown) {
                            this._popupInfo("ERROR: " + errorThrown);
                        }.bind(this)
                    });
                },

                _renderStatus: function (status) {
                    var template = document.querySelector(".SSN-Plugins-ShowStatusHistory-Status-Template").content;
                    var element = window.top.document.importNode(template, true);

                    var workflow = element.querySelector(".Workflow");
                    var statusName = element.querySelector(".StatusName");
                    var startDate = element.querySelector(".StartDate");
                    var updatedBy = element.querySelector(".UpdatedBy");

                    workflow.textContent = status.Workflow;
                    statusName.textContent = status.StatusName;
                    startDate.textContent = status.StartDate;
                    updatedBy.textContent = status.UpdatedBy;

                    this._statusHistory.appendChild(element);
                },

                /* Get global settings to json */
                _getGlobalSettings: function () {
                    $.ajax({
                        type: "GET",
                        url: this._getPluginPath() + "Handler/GetGlobalSettings.ashx?GetGlobalSettings=true",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        success: function (result) {
                            this._globalSettings = result;
                        }.bind(this)
                    });
                },

                /* Get plugin path */
                _getPluginPath: function () {
                    return this.attributes["data-pluginpath"].value;
                },

                /* get url parameter */
                _getURLParameter: function (name) {
                    return decodeURI(
                        (RegExp(name + '=' + '(.+?)(&|$)').exec(window.top.location.search) || [, null])[1]
                    );
                },
            });
    })();
</script>